html {
    font-family: 'Concert One', cursive;
    background-color: lightskyblue;
}

body {
    background-color: lightseagreen;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 50px black;
    border-radius: 50px;
    text-align: center;
}
.container {
    column-width: 400px;
    column-gap: 20px;
    column-rule: 4px dotted black;
}

.card {
    break-inside: avoid;
    page-break-inside: avoid;
}

img {
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
    padding-bottom: 5px;
}

.vertical {
    width: 400px;
    height: 530px;
}