html {
    font-family: 'Concert One', cursive;
    background-color: coral;
}

body {
    width: 75%;
    margin: auto;
    background-color: #FF9500;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 50px black;
    border-radius: 50px;
    text-align: center;
}

div {
    box-shadow: 0px 0px 5px black;
    border-radius: 50px;
    padding-top: 1px;
}

h1 {
    text-shadow: 3px 3px 5px white;
}

img {
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;
    border-radius: 50px;
}