html {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    margin-top: 0px;
}

iframe {
    display: block;
    margin: auto;
    border-radius: 20px;
}

.Title {
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 0px;
}

.Container {
    margin-bottom: 50px;
    column-width: 300px;
    column-gap: 50px;
    column-rule: 4px dotted black;
}

.Card {
    break-inside: avoid;
    page-break-inside: avoid;
    box-shadow: inset -10px -10px 20px 0px lightslategrey;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    border: 10px solid lightslategrey;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 5px;
}

.Chiquito {
    height: 100%;
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}